h5 {
    color: darkblue;
}

img[src="images/logo.png"]{
    width: 120px;
}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Arimo", sans-serif;
  }
  
body{
    width: 600px;
    margin: 0 auto;
    background-color: #1f6046;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}