h5 {
    color: darkblue;
}
h1 {
    text-shadow: 3px 3px 10px black;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

img[src="images/logo.png"]{
    width: 120px;
    display: block;
    margin: 0 auto;
}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Arimo", sans-serif;
    background-color: #1f6046;

  }
  
body{
    width: 600px;
    margin: 0 auto;
    padding: 5px 20px 20px 20px;
    color:white;
    background-color: #415700;
    border: 5px solid black;
}